.modal {

    position: fixed;
    inset: 0;
    background: black;

    display: none;
    justify-content: center;
    align-items: center;
}

.modal.ativo {
    display: flex;
}

.galeria-imagem {
    width: 80vw;
    max-width: 800px;
    height: auto;
}

.fechar {
    position: absolute;
    top: 20px;
    right: 20px;
}